// Exemples

.clients-list {
  display: flex;

  .item:not(:last-child) {
    margin-right: 30px;
  }

  & .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: border-color 250ms $timing-function;

    &:hover,
    &:focus {
      border-color: $accent-color;
    }

    .button-icon {
      fill: #afb1b8;

      transition: fill 250ms $timing-function;
    }
  }

  .button:hover .button-icon,
  .button:focus .button-icon {
    fill: $accent-color;
  }
}
